.imageBackground{
  background-image: ('./assets/background.jpg');
}



.containerUno{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: row wrap;
  flex-direction: row;
  margin: 0 auto;
}
  /* Tamaño de los cards */
  .cardsInicio{
    width: 350px;
    height: 460px;
    
}

 /* Definir posición de los cards  */
.cardPosition{
  flex-grow: 2;
}

.cardTransition:hover{
  -webkit-transform: scale(0.02);
  transform: scale(1.01)
}
